body{
    font-family: cursive;
    background-color: mistyrose;

}

.card
   {color: blueviolet;
    background-color: white;
    width: 300px
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;}

button{
padding:10px 15px;
border:none;
border-radius: 5px;
background-color: yellow;
cursor: pointer;
color: black;


}
button:hover{
    background-color: #e6c200;
    cursor: pointer;
}